Week_05/springDemo/src/main/resources/students.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://io.github.jesse0722/schema/students"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://io.github.jesse0722/schema/students">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <!-- 定义 User 类型（复杂类型） -->
    <xsd:complexType name="Student">
        <xsd:attribute name="id" type="xsd:int" use="required"/>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>


    <!-- 定义 user 元素 -->
    <xsd:element name="student" type="Student"/>
</xsd:schema>
